@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f7f9fc;
  font-family: "Cairo", sans-serif;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-text {
  animation: marquee 10s linear infinite; /* Controla la velocidad y duración de la animación */
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Comienza fuera del contenedor */
  }
  to {
    transform: translateX(
      -100%
    ); /* Termina fuera del contenedor en la dirección opuesta */
  }
}

:root {
  --white: #fff;
  --black: #000;
  --main-bg: #f7f9fc;
  --purple: #5b78f6;
  --menu: #676767;
  --button-bg: #323232;
  --subtitle: #d4d4d4;
  --text: #a4a5a7;

  /* --primary-soft: #f0eeff;
  --secondary-circles: #d3ccff;
  --secondary-circle: #d7d2f2;
  --darkpurple: #11142d;
  --white: #ffffff;
  --gray-01: #aaaaaa;
  --gray-02: #e1e1e1;
  --gray-03: #f0f0f0;
  --gray-04: #c4c4c4;
  --gray-05: #9c9c9c;
  --orange-01: #fff6ee;
  --orange-02: #ffe7d4;
  --orange-03: #f5dcc8;
  --orange-04: #ff754c;
  --blue-01: #e4f1fd;
  --blue-02: #d5ebff;
  --blue-03: #76c7ff; */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
